body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3,
h4, h5, h6,
p, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1.3em;
}

h1, h2, h3 {
  font-family: "ff-enzo-web", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  font-size: 1.35em;
  line-height: 1.2;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 1.1em;
}

a {
  color: hsl(206, 49%, 62%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.media {
    display: block;
    overflow: hidden;
}

.media__img {
    float: left;
    margin-right: 1em;
}
/**
 * Reversed image location (right instead of left).
 */
.media__img--rev {
    float: right;
    margin-left: 1em;
    margin-right: 0;
}

.media__img img,
.media__img--rev img {
    display: block;
}

.media__body {
    overflow: hidden;
}

.media__body,
.media__body > :last-child {
    margin-bottom: 0;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
}

.zones {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transition: -webkit-perspective .4s ease;
  -webkit-perspective: 600px;
  -webkit-perspective-origin: 0px -100px;
}

.zone {
  display: none;
  position: absolute;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  left: -50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform-origin 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
            -webkit-transform 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
            visibility 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985),
            opacity 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.zone.present {
  z-index: 11;
  opacity: 1;
  display: block;
}

.zone.up {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(0,-300px,0) rotateX(70deg) translate3d(0,-300px,0);
}

.zone.down {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(0,300px,0) rotateX(-70deg) translate3d(0,300px,0)
}

.zone.left {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(-100%,0,0) rotateY(-90deg) translate3d(-100%,0,0);
}

.zone.right {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(100%,0,0) rotateY(90deg) translate3d(100%,0,0);
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.scene.is-current {
  z-index: 5;
}

.scene,
.scene-blur {
  background-size: cover;
}

.scene-1 {
  background-image: url('http://farm1.staticflickr.com/150/350856151_ff90a40fe7_o.jpg');
}

.scene-blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scene-1 .scene-blur {
  background-image: url('/images/scene-1-bg-blurred.jpg');
}

.scene-2 {
  background-image: url('http://farm3.staticflickr.com/2651/3735776628_fe1f49d53c_o.jpg');
}

.scene-3 {
  background-image: url('http://farm7.staticflickr.com/6146/5988291512_80e0a9a113_o_d.jpg');
}

.light-overlay,
.dark-overlay {
  border-radius: 10px;
  padding: 1em;
  display: inline-block;
}

.container {
  width: 70%;
  margin: auto;
  display: block;
}

.left-container {
  margin-left: 1%;
}

.light-overlay {
  background-color: hsla(0, 0%, 100%, 0.8);
  color: black;
  box-shadow: 0 30px 70px hsla(0, 0%, 0%, 0.5);
}

.dark-overlay {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  box-shadow: 0 30px 70px hsla(0, 0%, 0%, 0.8);
}

.top-overlay {
  position: absolute;
  top: -30px;
  z-index: 500;
  left: -130px;
}

.top-overlay h1 {
  margin-bottom: 0;
}

.left-overlay {
  position: absolute;
  left: -170px;
  width: 350px;
  top: 110px;
  -webkit-transform: translateZ(0) rotateY(6deg) rotateZ(0deg);
  -webkit-transform-origin-x: 0;
}

.right-overlay {
  position: absolute;
  top: -65px;
  right: -130px;
  width: 350px;
  height: 385px;
  overflow: auto;
  -webkit-transform: translateZ(0) rotateY(-6deg) rotateZ(0deg);
  -webkit-transform-origin-x: 100%;
}

.bottom-overlay {
  position: absolute;
  bottom: -30px;
  left: 280px;
}

.l-scene-2-context-container {
  height: 600px;
  position: relative;
  -webkit-perspective: 210;
}

.videos .meta {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.reveal {
    width: 90%;
    margin: 3% auto;
    display: none;
    z-index: 21;
    position: relative;
}
.reveal.visible {
    display: block;
}
.reveal video {
    width: 100%;
}


.tracking-bubble {
    display: none;
    position: absolute;
    z-index: 20;
    width: 10em;
    height: 2em;
    background-color: red;
    color: white;
    margin-top: 20%;
    left: 50%;
    margin-left: -5em;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
}

.tracking-bubble.pop-in {
    display: block;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
        -webkit-animation-name: pop-in;
                animation-name: pop-in;
 -webkit-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
}

@-webkit-keyframes pop-in {
  0% {
      opacity: 0;
      margin-top: 20%;
      margin-left: -5em;
      box-shadow: 0 0 15px #666;
  }

  30% {
      opacity: 1;
      margin-top: 19%;
      margin-left: -5.3em;
      box-shadow: 10px 10px 15px #666;
  }

  70% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      display: none;
      margin-top: 19%;
      margin-left: -5.3em;
      box-shadow: 10px 10px 15px #666;
  }
}

@keyframes pop-in {
  0% {
      display: block;
      opacity: 0;
  }

  30% {
      opacity: 1;
  }

  70% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      display: none;
  }
}



.explainer {
    font-family: "ff-enzo-web", sans-serif;
    position: absolute;
    font-size: 4em;
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
}
.explainer-now {
    top: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.explainer-track {
    left: 30px;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}
.explainer-context {
    right: 30px;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}
.main-title {
    font-family: "ff-enzo-web", sans-serif;
    position: absolute;
    font-size: 9em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    height: 250px;
    line-height: 250px;
    width: 570px;
    margin-top: -125px;
    margin-left: -285px;
    text-align: center;
    text-shadow: 4px 4px 2px #999;
    background-color: rgba(220, 220, 220, 0.5);
}

.tweet {
  margin-bottom: 1em;
}

.review img {
  width: 60px;
}

.tweet p {
  font-size: 0.8em;
}

.tweet__user-name {
  font-weight: bold;
}

.tweet__username {
  font-size: 0.8em;
}

.twitter-handle {
  color: #6699aa;
}


.finger {
    z-index: 20;
    position: absolute;
    display: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}

.finger.is-visible {
    display: block;
}



.story-wrapper {
    overflow: hidden; /* poor man's clearfix */
    overflow-x: auto;
}

.story {
    float: left;
    clear: both;
    /* width: 100%; */
    margin-top: 20px;
    /* border: 1px solid red; */
    white-space: nowrap;
     overflow: hidden;
    width: 2000px;
    position: relative;

  /* -webkit-transition: -webkit-perspective .4s ease; */
    transition-property: all;
    transition-duration: 0.2s;
    transition-duration: ease;
}
.story.is-left {
    left: -1000px;
}
.story.is-center {
    left: -500px;
}
.story.is-right {
    left: 0px;
}
.story-item {
    float: left;
    position: relative;
    padding: 0 20px;
    border-left: 1px solid #ccc;
}
.story-item:first-child {
  padding-left: 0;
  border-left: 0;
}
.story-item:last-child {
  padding-right: 0;
}
.story-item-main {
    background-size: cover;
}

.story-item p {
    margin: 0;
}


.story {
  opacity: 0.6;
}

.story:hover,
.story.is-highlighted {
    /*margin-top: 32px;
    margin-left: -6px;
    margin-bottom: 8px;
    margin-right: 6px;
    box-shadow: 8px 8px 12px #333;*/
    opacity: 1;
}


.kicker {
    background-color: red;
    color: white;
    padding: 2px 5px;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.kicker--corner {
  position: absolute;
  top: 0;
  right: 0;
}

.pro-cons {
    float: left;
}
.pro-cons.pro-cons-pro {
    text-align: right;
    margin-right: 15px;
    border-right: 4px solid #ccc;
    padding-right: 15px;
}

.sport-score {
    font-weight: 700;
}

.story-robots {
    height: 200px;
}

.jupiter-landing {
}

.venus-gallery {
    background: url(http://upload.wikimedia.org/wikipedia/en/8/8d/Rocky_Mars_Surface.jpeg) no-repeat;
    background-size: cover;
    height: 155px;
    width: 230px;
}

.match__summary h2 {
    margin-bottom: 0;
}

#reveal-quote-asimov {
    width: 70%;
    margin-top: 10%;
}
#reveal-quote-asimov footer {
    font-size: 120%;
}

.light-text {
    color: #ddd;
}

.story-robots .story-item-main {
    background: url(http://farm4.static.flickr.com/3296/3119144658_b9dfe4a1b8.jpg) no-repeat;
    background-size: cover;
    height: 180px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    vertical-align: top;
    border: 2px solid #ccc;
}

.vs {
    color: #669;
    text-align: center;
    font-weight: bold;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

blockquote {
  margin: 0;
}

blockquote .content:before {
  content: '';
  display: block;
  background-image: url('/images/quote.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 36px;
  padding-bottom: 10px;
}

blockquote .content {
  font-size: 1.5em;
  font-family: "ff-enzo-web", sans-serif;
}

blockquote footer {
  margin-top: 5px;
  color: hsl(0, 0%, 40%);
}

.story-item img {
  max-height: 140px;
}

.story--big img {
  max-height: 200px;
}

.story-item h1,
.story-item h2,
.story-item h3 {
  margin-bottom: 5px;
}

.heading {
  position: relative;
}

.heading__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 0%, 0.8);
  padding: 2px 5px;
  color: white;
}
